* {box-sizing: border-box;}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.img-zoom-container {
    position: absolute;
}

.img-zoom-lens {
    cursor: zoom-in;
    position: absolute;
    border: 1px solid #d4d4d4;
    opacity: 0.4;
    background-color:white;
    /*set the size of the lens:*/
    width: 80px;
    height: 80px;
    margin-left:13px;
}

.img-zoom-result {
    position: absolute;
    border: 1px solid #1c7de6;
    /*set the size of the result div:*/
    width: 500px;
    height: 500px;
    z-index: 500;
}

.cust-border-top {
    border-top: 2px solid #f7f7f7;
}

.cust-border-left {
    border-left: 2px solid #f7f7f7;
}

.cust-border-right {
    border-right: 2px solid #f7f7f7;
}

.cust-border-bottom {
    border-bottom: 2px solid #f7f7f7;
}

#product-list .display-sale-price {
    margin-bottom: -2%;
}

/*Single product Page*/

#single-product #product-thumbnail:hover {
    cursor: zoom-in;
}

#single-product #product-thumbnail:hover {
    cursor: zoom-in;
}

#single-product .logo {
    margin-bottom: 1%;
}

#single-product #product-link{
    font-size: 13px;
    color: white;
}

#single-product .product-vendor-label{
    font-size: smaller;
    color: #9ea7bc;
}

#single-product #product-vendor:hover {
    color: #3667bc;
}

#single-product .product-brand-label{
    font-size: smaller;
    color: #9ea7bc;
}

#single-product #product-brand:hover {
    color: #3667bc;
}

#single-product .discount-label{
    color: #9ea7bc;
}

#single-product .list-price-label{
    color: #9ea7bc;
}

    /* Other seller*/
#single-product #other-seller {
    width: 100%;
    border: 1px solid #9ea7bc;
}

#single-product #other-seller #seller-list{
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

#single-product #other-seller #seller-list h5{
    color: #333;
}

#single-product #other-seller #seller-list li{
    position: relative;
    margin-bottom: 5px;
    list-style: none;
}

#single-product #other-seller #seller-list .seller-name{
    color: #29bae4;
}

#single-product #other-seller #seller-list .detail-btn{
    color: white;
}
    /* /Other Seller*/

/*Single product Page*/

/* Middle page  */
    /*Price Forecast*/
#price-forecast {
    width: 100%;
}

#price-forecast .date-time{
    padding: 2px;
}

#price-forecast .forecast-price{
    margin-right: -5px;
    padding: 2px;
}
    /*Price Forecast*/

    /*Specification*/
#specification ul {
    padding-left: 10px;
    padding-right: 10px;
}

#specification li {
    list-style: none;
}

#specification #spec-detail {
    max-height: 710px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 13px;
}
    /*Specification*/
/* /Middle page  */

/* DESCRIPTION PAGE*/
#product-description #description-reduce-btn{
    display: none;
}

#product-description #description-content {
    color: #242424;
    max-height: 600px;
    overflow: hidden;
    font-size: 13px;
}

#product-description #description-content p {
    font-size: 13px;
    width:100%;
}

#product-description #description-content img{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#product-description #description-content iframe {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#product-description #description-content h1,h2,h3,h4,h5 {
    font-weight: bold;
    margin-top: 5px;
    display: block;
}

#product-description #description-source {
    border-bottom: 1px solid #f8f9fa;
}

/* /DESCRIPTION PAGE*/

/* MODAL*/
#specification-modal ul{
    border: 1px solid #9ea7bc;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#specification-modal li{
    list-style: none;
    font-size: 13px;
}
/* /MODAL*/