* {box-sizing: border-box;}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.img-zoom-container {
    position: absolute;
}

.img-zoom-lens {
    cursor: zoom-in;
    position: absolute;
    border: 1px solid #d4d4d4;
    opacity: 0.4;
    background-color:white;
    /*set the size of the lens:*/
    width: 80px;
    height: 80px;
    margin-left:13px;
}

.img-zoom-result {
    position: absolute;
    border: 1px solid #1c7de6;
    /*set the size of the result div:*/
    width: 500px;
    height: 500px;
    z-index: 500;
}

.cust-border-top {
    border-top: 2px solid #f7f7f7;
}

.cust-border-left {
    border-left: 2px solid #f7f7f7;
}

.cust-border-right {
    border-right: 2px solid #f7f7f7;
}

.cust-border-bottom {
    border-bottom: 2px solid #f7f7f7;
}

#product-list .product-name {
    font-size: 13px;
}

#product-list .display-sale-price {
    margin-bottom: -2%;
}

/*Single product Page*/

#single-product #product-thumbnail:hover {
    cursor: zoom-in;
}

#single-product #product-thumbnail:hover {
    cursor: zoom-in;
}

#single-product .logo {
    margin-bottom: 1%;
}

#single-product #product-link{
    font-size: 13px;
    color: white;
}

#single-product .product-vendor-label{
    font-size: smaller;
    color: #9ea7bc;
}

#single-product #product-vendor:hover {
    color: #3667bc;
}

#single-product .product-brand-label{
    font-size: smaller;
    color: #9ea7bc;
}

#single-product #product-brand:hover {
    color: #3667bc;
}

#single-product .discount-label{
    color: #9ea7bc;
}

#single-product .list-price-label{
    color: #9ea7bc;
}

    /* Other seller*/
#single-product #other-seller {
    width: 100%;
    border: 1px solid #9ea7bc;
    border-radius: 20px;
}

#single-product #other-seller #seller-list{
    width: 100%;
}

#single-product #other-seller #seller-list h5{
    color: #333;
}

#single-product #other-seller #seller-list li{
    position: relative;
    margin-bottom: 5px;
    list-style: none;
}

#single-product #other-seller #seller-list .seller-name{
    color: #29bae4;
}

#single-product #other-seller #seller-list .detail-btn{
    color: white;
}
    /* /Other Seller*/

/*Single product Page*/

/* Middle page  */
.background-grey {
    background: #e4ebff;
}
    /*Price history*/
    /*Price history*/

    /*Specification*/
#middle-page #specification li {
    list-style: none;
}

#middle-page #specification #spec-detail {
    max-height: 450px;
    overflow: hidden;
    margin-bottom: 20px;
}

    /*Specification*/
/* /Middle page  */