/*General - apply for all page*/
{% load static %}

strong{
    font-weight: 800;
}

.my-wrap {
    background: #f4f4f4;
}

.min-height-200 {
    min-height: 200px !important;
}

.muted-price {
    text-decoration: line-through;
}

.sale-price {
    align-self: stretch;
    color: rgb(36, 36, 36);
    line-height: 1.6;
}

.list-price {
    color: #6c757d;;
}

.discount-percent {
    color: #6c757d;
    font-size: smaller;
}

.platform-logo {
    right: 5%;
    position: absolute;
}

.cust-box-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 4px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.product-name {
    font-size: 18px;
}

.loading {
    background: url('/static/images/spinner.gif') no-repeat center center;
    position: absolute;
    top:50px;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

/* Tooltip*/
.cust-tooltip {
    position: relative;
    display: inline-block;
}

.cust-tooltip-text {
    visibility: hidden;
    width: 200px;
    top: 75%;
    left: 40%;
    margin-left: -60px;
    background-color: #8b8d91;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 2px;

  /* Position the tooltip */
    position: absolute;
    z-index: 1000;
}

.cust-tooltip:hover ~ .cust-tooltip-text {
    visibility: visible;
}

/* /Tooltip*/

/*Button*/
.solid-btn {
    border: 1px solid #29bae4;
    background: #29bae4;
    border-radius: 5px;
    cursor: pointer;
}

.solid-btn:hover {
    cursor: pointer;
    color: #29bae4 !important;
    border: 1px solid #29bae4 !important;
    background:none;
}

.empty-btn {
    border: 1px solid #29bae4;
    color: #29bae4;
    border-radius: 5px;
    cursor: pointer;
}

.empty-btn:hover {
    cursor: pointer;
    background: #29bae4 !important;
    color: white !important;
}
/*/Button*/

/*My Color*/

.red-color {
    color:#ff3425 !important;
}

.yellow-color {
    color:#fed700; !important;
}

.blue-color {
    color:#29bae4 !important;
}

.pink-color {
    color:#e83e8c !important;
}

.white-color {
    color:white !important;
}

.green-color {
    color:#68c5b5 !important;
}

.green-color-1 {
    color: #17bf2c !important;;
}

.orange-color {
    color: rgb(255, 61, 0) !important;
}

.background-white{
    background: white !important;
}

.background-grey {
    background: #e4ebff !important;
}

.background-blue {
    border: 2px solid #29bae4 !important;
    background: #29bae4 !important;
}

.background-green-1 {
    border: 2px solid #68c78d !important;
    background-color: #68c78d !important;
}

.background-green-2 {
    border: 2px solid #68c5b5 !important;
    background-color: #68c5b5 !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

/*/My Color*/

/*General - apply for all page*/

/*HOME PAGE*/
/*Customer Home Slider*/
#home-slider input{
    min-width: 600px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

#home-slider input::placeholder{
    font-style: italic;
}

nav #search-icon {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

nav #search-field {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

nav .search-icon:hover {
    cursor: pointer;
}

nav .search-icon:focus {
    border-color: #fff;
}

nav #search-box{
    margin-top: 12px;
}

nav .product-search{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav .product-search::placeholder {
    font-style: italic;
}

nav .search-icon {
    background: transparent !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    margin-left: 0;
}

@media (min-width: 576px) {
    nav #search-box{
        margin-top: 10px;
    }

    nav .product-search {
        min-width: 300px;
    }

    nav .search-icon {
        margin-left: 0 ;
    }

    nav .product-search::placeholder{
        font-size: 14px;
    }

    nav .search-icon .fa-search {
        color: #fff !important;
    }
}

@media (min-width: 768px) {
    nav #search-box{
        margin-top: 12px;
    }

    nav .product-search{
        min-width: 300px;
    }

    nav .product-search::placeholder{
        font-size: 14px;
    }

    nav .search-icon .fa-search {
        color: #fff !important;
    }
}

@media (min-width: 992px) {
    nav #search-box{
        margin-top: 12px;
        margin-left: 2%;
    }

    nav .product-search{
        padding-right: 0 !important;
        margin-right: 0 !important;
        min-width: 400px;
    }

    nav .product-search::placeholder{
        font-size: 16px;
    }

    nav .search-icon {
        margin-left: 15px;
    }

    nav .search-icon .fa-search {
        color: #fff !important;
    }
}

@media (min-width: 1200px) {
    nav #search-box{
        margin-top: 15px;
        margin-left: 8%;
    }

    nav .product-search{
        padding-right: 0 !important;
        margin-right: 0 !important;
        min-width: 500px;
    }

    nav .search-icon {
        margin-left: 25px;
    }

    nav .product-search::placeholder{
        font-size: 16px;
    }
}

.ftco-navbar-light.scrolled .product-search {
    color: #6c757d !important;
    border-color: #404044 !important;
}

.ftco-navbar-light.scrolled .product-search::placeholder {
    color: #6c757d !important;
}

.ftco-navbar-light.scrolled .search-icon {
    color: #6c757d !important;
    border-color: #404044 !important;
}

.ftco-navbar-light.scrolled .search-icon::placeholder {
    color: #6c757d !important;
}

.ftco-navbar-light.scrolled .search-icon .fa-search{
    color: #6c757d !important;
    border-color: #404044 !important;
}

#suggestion-box {
    position: absolute;
    border: 1px solid #d4d4d4;
    z-index: 999;
    top: 100%;
    left: 0;
    right: -4%;
    border-radius: 20px;
    display: none;
    background: #f4f4f4;
}

#suggestion-items {
    background: #fff;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 2%;
}

.suggestion-item {
    padding-top: 1%;
    padding-bottom: 1%;
}

.suggestion-item .nav-thumb {
    padding-left: 3%;
}

.suggestion-item .nav-product-name {
    font-weight: 800;
}

.suggestion-item .nav-platform {
    vertical-align: middle;
    line-height: normal;
}
/*Top Products in home page*/



