
.list-price {
    text-decoration: line-through;
}

/*HOME PAGE*/
/*Customer Home Slider*/
#home-slider input{
    min-width: 600px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

#home-slider input::placeholder{
    font-style: italic;
}

/*Top Products in home page*/
#top-product .list-price {
    text-decoration: line-through;
    color: #ff021a;
    font-size: smaller;
}

#top-product .sale-price {
    color: #1c7430;
}

