{% extends "base.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'js/main.js' %}" ></script>
    <section id="home-slider" class="home-slider">
        <div class="slider-item">
            <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text align-items-center justify-content-center">
                        <div class="col-md-14 ftco-animate text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END slider -->

    <!-- Display Top Products section -->
    <section id="top-product" class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2>Sản phẩm nổi bật của Tiki.vn</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        {% for product in top_products %}
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="product-image mb-4">
                                        <img class="thumbnail" src="{{ product.thumbnail_url }}">
                                    </div>
                                    <div class="text">
                                        <p class="product-name mb-2">{{ product.name }}</p>
                                        <p>
                                            <strong class="sale-price">{{ product.sale_price }}</strong>
                                            (<span class="list-price">{{ product.list_price }}</span>)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}