{% extends "base.html" %}
{% load  static %}
{% block content %}

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img class="product-thumbnail" src="https://salt.tikicdn.com/cache/300x300/media/catalog/product/o/p/oppo f1s_rose gold (1).u504.d20160829.t100133.583711.jpg">
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>

{% endblock %}