{% extends "base.html" %}
{% load  static %}
{% block content %}

    <section id="home-slider" class="home-slider">
        <div class="slider-item min-height-200">
            <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text align-items-center justify-content-center">
                        <div class="col-md-14 ftco-animate text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END slider -->

    <section id="product-list" class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row m-3">
                <div class="col-md-12 cust-border-bottom">
                    <h3>
                        Hiện thị <span class="red-color"> {{ product_count }} </span>kết quả tìm kiếm cho từ khóa
                        <strong class="blue-color">
                            {{ search_term }}
                        </strong>
                        ở trang
                        <span class="blue-color">
                            {{ platform | title }}
                        </span>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 cus">
                    <p class="cust-border-bottom font-30">Lọc sản phẩm</p>
                    <div class="row cust-border-bottom p-2">
                        <div class="col-md-12 text-center m-2">
                            <h5 class="font-weight-bolder">Giá sản phẩm</h5>
                        </div>
                        <div class="col-md-12 ">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="a" name="optradio">
                                <label class="custom-control-label" >Dưới <strong >1 triệu</strong></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="b" name="optradio">
                                <label class="custom-control-label" >Từ <strong >1 triệu</strong> đến <strong >5 triệu</strong></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="c" name="optradio">
                                <label class="custom-control-label" >Từ <strong >5 triệu</strong> đến <strong >10 triệu</strong></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="d" name="optradio">
                                <label class="custom-control-label" >Từ <strong >10 triệu</strong> đến <strong >15 triệu</strong></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="e" name="optradio">
                                <label class="custom-control-label" >Trên <strong >15 triệu</strong></label>
                            </div>
                        </div>
                    </div>
                    <div class="row cust-border-bottom p-2">
                        <div class="col-md-12 text-center m-2">
                            <h5 class="font-weight-bolder">Cửa hàng</h5>
                        </div>
                        <div class="col-md-12 ">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tiki-checkbox" name="tiki-checkbox" checked>
                                <label class="custom-control-label" for="tiki-checkbox">Tiki.vn</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="lazada-checkbox" name="lazada-checkbox">
                                <label class="custom-control-label" for="lazada-checkbox">Lazada.vn</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shopee-checkbox" name="shopee-checkbox">
                                <label class="custom-control-label" for="shopee-checkbox">Shopee.vn</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tiki-checkbox" name="tgdd-checkbox">
                                <label class="custom-control-label" for="tgdd-checkbox">Thegioididong.com</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="sendo-checkbox" name="sendo-checkbox">
                                <label class="custom-control-label" for="sendo-checkbox">Sendo.vn</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 cust-border-left">
                    <div class="row">
                        {% for product in products %}
                            <div class="product col-md-3 ftco-animate">
                                <a href="#">
                                    <div class="blog-entry">
                                        <img class="platform-logo logo p-2" src="{% static 'images/tiki.png' %}" >
                                        <img class="thumbnail mt-2" src="{{ product.thumbnail_url }}" />
                                        <div class="text p-2 mt-2">
                                            <h6 class="product-name cust-tooltip mb-2">{{ product.name }}</h6>
                                            <span class="cust-tooltip-text">{{ product.name }}</span>
                                        </div>

                                        <div class="text p-2 mt-2">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <p class="sale-price price red-color font-20">{{ product.sale_price }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <p class="list-price price">{{ product.list_price }} </p>
                                                    <span class="ml-2">(-{{ product.discount_rate }} %)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}