{% extends "base.html" %}
{% load  static %}
{% block content %}

    <section id="home-slider" class="home-slider">
        <div class="slider-item">
            <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text align-items-center justify-content-center">
                        <div class="col-md-14 ftco-animate text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END slider -->

    <section id="product-list" class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1>Categories</h1>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {% for product in products %}
                            <div class="product col-md-3 ftco-animate">
                                <a href="#">
                                    <div class="blog-entry">
                                        <img class="platform-logo logo p-2" src="{% static 'images/tiki.png' %}" >
                                        <img class="thumbnail mt-2" src="{{ product.thumbnail_url }}" />
                                        <div class="text p-2 mt-2">
                                            <p class="product-name cust-tooltip mb-2">{{ product.name }}</p>
                                            <span class="cust-tooltip-text">{{ product.name }}</span>
                                        </div>
                                        <div class="text d-block">
                                            <div class="meta p-2 mb-3">
                                                <p class="display-sale-price">
                                                    <strong class="sale-price">{{ product.sale_price }}</strong>
                                                    <span class="discount-percent ml-2">58%</span>
                                                </p>
                                                <span class="list-price">{{ product.list_price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}