{% extends "base-no-main.html" %}
{% load  static %}

{% block content %}
    {% include "product/product-modal.html" %}

    <section id="home-slider" class="home-slider min-height-200">
        <div class="slider-item min-height-200">
            <div class="overlay">
                <div class="container">
                    <div class="row slider-text align-items-center justify-content-center">
                        <div class="col-md-14 ftco-animate text-center">
                            <div class="subscribe-form mb-4">
                                <div class="form-group">
                                    <span class="icon icon-search"></span>
                                    <input type="search" placeholder="Tìm theo dường dẫn hoặc tên sản phẩm ..." class="product-search form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END slider -->
    <span class="d-none" id="data-product-tmpl-name" data-product-tmpl-name="{{ product.product_tmpl_id.name }}">{{ product.product_tmpl_id.name }}</span>
    <span class="d-none" id="data-spid" data-spid="{{ product.spid }}">{{ product.spid }}</span>
    <span class="d-none" id="data-product-id" data-product-id="{{ product.product_id }}">{{ product.product_id }}</span>
    <span class="d-none" id="data-platform" data-platform="{{ product.channel_id.platform }}">{{ product.channel_id.platform }}</span>
    <span class="d-none" id="data-lowest-price-spid" data-lowest-price-spid="{{ lowest_price_data.spid }}">{{ lowest_price_data.spid }}</span>
    <div class="my-wrap">
        <div class="container">
            <section id="single-product" class="ftco-section background-white cust-border-top">
                <div class="container">
                    <div class="row">
                        <div id="display-thumbnail" class="cust-border-right col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img id="product-thumbnail" class="product-thumbnail"
                                     src="{{ product.thumbnail_url }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center cust-border-bottom">
                                        <small >
                                            <i class="fa fa-search-plus"></i> Rê chuột lên hình để phóng to
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-center pt-3 blue-color">
                                        <a href="javascript:void(0)" id="open-more-images" class="blue-color"
                                           data-toggle="modal" data-target="#more-images-modal">
                                            NHIỀU HÌNH ẢNH HƠN NỮA &nbsp; <i class="fa fa-images fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Main content #}
                        <div id="product-detail" class="col-xl-9 col-lg-8 col-md-6 col-sm-12 ">
                            <div id="product-thumbnail-zoom" class="img-zoom-result"></div>
                            <div class="row p-2">
                                <div class="col-md-12">
                                    <div class="text display-product-main-info cust-border-bottom">
                                        <div class="row">
                                            <h2 id="product-name pl-3">{{ product.name }}
                                            </h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 p-2">
                                                <label class="product-vendor-label">Nhà cung cấp: &nbsp;</label>
                                                <a href="{{ product.provider_id.url }}" target="_blank">
                                                    <span class="blue-color" id="product-vendor">{{ product.provider_id.name }}</span>
                                                </a>
                                                {% if product.provider_id.is_best_store %}
                                                    <span id="best-seller" data-toggle="tooltip" title="Cửa hàng bán chạy nhất!">
                                                        <i class="fa fa-star yellow-color"></i>
                                                    </span>
                                                {% endif %}
                                                <label class="ml-4 product-brand-label">Thương hiệu: &nbsp;</label>
                                                <a href="#">
                                                    <span class="blue-color" id="product-brand">{{ product.brand_id.name }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-2 display-price">
                                {# Price #}
                                <div class="col-md-5">
                                    <div class="row p-2">
                                        <h3>
                                            <span class="price red-color sale-price" id="sale-price" >{{ product.sale_price }}</span>
                                        </h3>
                                        {% if product.channel_id.platform == 'tiki' %}
                                            <img class="logo ml-4" src="{% static 'images/tiki.png' %}" >
                                        {% elif product.channel_id.platform == 'adayroi' %}
                                            <img class="logo ml-4" src="{% static 'images/adayroi.png' %}" >
                                        {% endif %}
                                    </div>
                                    <div class="row pl-2">
                                        <label class="discount-label">Giảm giá: &nbsp;</label>
                                        <span class="red-color" id="discount-percent"> {{ product.discount_rate }}% &nbsp;</span>
                                        (<span class="price" id="discount-amount pl-2">{{ product.discount }}</span>)
                                    </div>
                                    <div class="row pl-2 ">
                                        <label class="list-price-label">Giá gốc: &nbsp;</label>
                                        <span id="list-price" class="price list-price">{{ product.list_price }}</span>
                                    </div>
                                    <div class="row pl-2">
                                        <label>Số lượng trên kho <strong class="blue-color">{{ product.channel_id.platform|title }}</strong>: &nbsp;</label>
                                        <span id="quantity" >{{ product.quantity }} (sản phẩm)</span>
                                    </div>
                                    <div class="row p-2 pt-4 cust-border-top">
                                        <a id="product-link" class="solid-btn p-2 pr-3" href="{{ product.url }}" target="_blank">
                                            <i class="fa fa-shopping-cart fa-2x"></i>&nbsp; ĐẾN NGAY NƠI BÁN
                                        </a>
                                        <a href="javascript:void(0)" id="price-notify" data-toggle="modal"
                                           data-target="#price-notify-modal" class="empty-btn blue-color mt-3 p-2 pr-3">
                                            <i class="fa fa-bell fa-lg"></i>&nbsp; Thông báo giá khi có thay đổi
                                        </a>
                                    </div>
                                </div>
                                {# /Price #}

                                {# Other Sellers #}
                                {% if related_product_data %}
                                <div class="col-md-7" >
                                    <div id="other-seller" class="row cust-box-shadow ml-1" >
                                        <div id="seller-list" >
                                            <div class="row background-blue ">
                                                <h5 class="pt-2 ml-5 white-color">NHÀ CUNG CẤP KHÁC</h5>
                                            </div>
                                            <ul class="mt-3">
                                                {% for rlp in related_product_data %}
                                                    <li class="small">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a class="seller-name" href="{{ rlp.provider_id.url }}">{{ rlp.provider_id.name }}</a>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <p><span class="price red-color">{{ rlp.sale_price }}</span></p>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <a class="solid-btn detail-btn ml-4 pt-1 pb-1 pl-2 pr-2"
                                                                   href="#">
                                                                    Chi tiết
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="pl-5 row">
                                                            <p><i class="fa fa-star"></i>
                                                                {% if rlp.is_gt %}
                                                                Rẻ hơn <span class="price pink-color">{{ rlp.diff_val }}</span>
                                                                {% else %}
                                                                Đắt hơn <span class="price pink-color">{{ rlp.diff_val }}</span>
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                        </div>
                                        <div class="col-md-12 p-2">
                                            <div class="text-center">
                                                <a href="javascript:void(0)"
                                                   class="empty-btn detail-btn blue-color pt-1 pb-1 pl-2 pr-2">
                                                    Xem Thêm
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# /Other Sellers #}
                                 {% endif %}
                            </div>
                        </div>
                        {# /Main content #}

                    </div>
                </div>
            </section>

            <section id="middle-page" class="ftco-section background-white">
                <div class="container cust-border-top">
                    <div class="row">
                        <div class="col-md-8 " id="price-history">
                            <canvas class="pt-3 pl-3" id="canvas"></canvas>
                        </div>

                        <div class="col-md-4 cust-border-left">
                            <div class="row mt-3">
                                <div class="col-md-12" id="price-forecast">
                                    <div class="row text-center background-blue">
                                        <div class="col-md-12">
                                            <h5 class="white-color pt-2 pl-2">DỰ ĐOÁN GIÁ</h5>
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <table class="table text-center cust-box-shadow mt-2 ml-1">
                                            <thead>
                                                <tr>
                                                    <th>Thời điểm</th>
                                                    <th>Giá dự đoán</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center" id="forecast-data">
                                                <span class="loading"></span>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row p-2 pt-4 pl-4">
                                        <p><i class="fa fa-circle fa-xs"></i>
                                            <strong class="red-color">&nbsp; Lưu ý:</strong>
                                            <em>Giá trên chỉ mang tính chất tham khảo</em>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="price-history-info" class="ftco-section background-white">
                <div class="container cust-border-top">
                    <div class="row">
                        <div class="col-md-6 cust-box-shadow">
                            <div class="row">
                                <div class="col-md-12 text-center background-green-2">
                                    <h5 class="pt-2 pl-3 white-color">Thống kê sản phẩm hiện tại</h5>
                                </div>
                                <div class="col-md-12 pt-2 pb-2 cust-border-bottom">
                                    <p class="ml-3">
                                        Sản phẩm: <span class="blue-color">{{ product.name }}</span>
                                    </p>
                                    <p class="ml-3">
                                        Nhà cung cấp: <span class="blue-color">{{ product.provider_id.name }}</span>
                                    </p>
                                </div>
                                <div class="col-md-12 p-2">
                                    {# Current price provider #}
                                    <table class="table text-center cust-box-shadow mt-2 ">
                                        <thead>
                                            <tr class="green-color">
                                                <th>Loại</th>
                                                <th>Giá</th>
                                                <th>Thời điểm</th>
                                            </tr>
                                        </thead>
                                        <tbody id="lowest-price-provider" class="text-center" >
                                            <tr>
                                                <td>Hiện tại</td>
                                                <td id="cur_sale_price">0</td>
                                                <td id="cur_datetime">0</td>
                                            </tr>
                                            <tr>
                                                <td>Cao nhất (*)</td>
                                                <td id="cur_highest_sale_price" class="green-color-1">0</td>
                                                <td id="cur_highest_datetime" class="green-color-1">0</td>
                                            </tr>
                                            <tr>
                                                <td>Thấp nhất (*)</td>
                                                <td id="cur_lowest_sale_price" class="red-color">0</td>
                                                <td id="cur_lowest_datetime" class="red-color">0</td>
                                            </tr>
                                            <tr>
                                                <td>Trung bình (+)</td>
                                                <td id="cur_average">0</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {# Current price provider #}
                                </div>
                                <div class="col-md-12 p-2 cust-border-top">
                                    <p>
                                        <strong>(*) </strong>: Giá cao nhất và thấp nhất tính trong vòng <span class="cur_period green-color-1"></span> ngày cho đến hiện tại.
                                    </p>
                                    <p>
                                        <strong>(+) </strong>: Giá trung bình tính theo sự thay đổi trong <span class="cur_period green-color-1"></span> ngày cho đến hiện tại.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cust-border-left cust-box-shadow">
                            <div class="row">
                                <div class="col-md-12 text-center background-green-2">
                                    <h5 class="pt-2 pl-3 white-color">Thống kê sản phẩm có giá thấp nhất</h5>
                                </div>
                                <div class="col-md-12 pt-2 pb-2 cust-border-bottom">
                                    <p class="ml-3">
                                        Sản phẩm: <span class="blue-color">{{ lowest_price_data.name }}</span>
                                    </p>
                                    <p class="ml-3">
                                        Nhà cung cấp: <span class="blue-color">{{ lowest_price_data.provider }}</span>
                                    </p>
                                </div>
                                <div class="col-md-12 p-2">
                                    {# Lowest price provider #}
                                    <table class="table text-center cust-box-shadow mt-2 ">
                                        <thead>
                                            <tr class="green-color">
                                                <th>Loại</th>
                                                <th>Giá</th>
                                                <th>Thời điểm</th>
                                            </tr>
                                        </thead>
                                        <tbody id="abc" class="text-center" >
                                            <tr>
                                                <td>Hiện tại</td>
                                                <td id="lowest_sale_price">0</td>
                                                <td id="lowest_datetime">0</td>
                                            </tr>
                                            <tr>
                                                <td>Cao nhất (*)</td>
                                                <td id="lowest_highest_sale_price" class="green-color-1">0</td>
                                                <td id="lowest_highest_datetime" class="green-color-1">0</td>
                                            </tr>
                                            <tr>
                                                <td>Thấp nhất (*)</td>
                                                <td id="lowest_lowest_sale_price" class="red-color">0</td>
                                                <td id="lowest_lowest_datetime" class="red-color">0</td>
                                            </tr>
                                            <tr>
                                                <td>Trung bình (+)</td>
                                                <td id="lowest_average">0</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {# Lowest price provider #}
                                </div>
                                <div class="col-md-12 p-2 cust-border-top">
                                    <p>
                                        <strong>(*) </strong>: Giá cao nhất và thấp nhất tính trong vòng <span class="lowest_period green-color-1"></span> ngày cho đến hiện tại.
                                    </p>
                                    <p>
                                        <strong>(+) </strong>: Giá trung bình tính theo sự thay đổi trong <span class="lowest_period green-color-1"></span> ngày cho đến hiện tại.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="product-description" class="ftco-section background-white">
                <div class="container cust-border-top">
                    <div class="row">
                        <div class="col-md-8 switcher">
                            <h4 class="text-center pt-3 pl-3">MÔ TẢ VÀ BÀI VIẾT LIÊN QUAN</h4>

                            <div class="row p-2">
                                <div id="description-source" class="col-md-12 text-center pb-2">
                                    <a href="javascript:void(0)" class="solid-btn detail-btn white-color switch-1 p-2">
                                        {{ product.channel_id.name | title }}
                                    </a>
                                    <a href="javascript:void(0)" class="solid-btn detail-btn white-color switch-3 ml-2 p-2">
                                        Genk.vn
                                    </a>
                                </div>
                            </div>
                            {% autoescape off %}
                            <div id="description-content" class="row pl-4 pr-4 pt-2 pb-2">
                                <div class="col-md-12 switch-res-1">
                                     {{ product.description }}
                                </div>
                                <div id="genk-article-source" class="col-md-12 switch-res-2">
                                </div>
                            </div>
                            {% endautoescape %}
                            <div id="detail-btn" class="row text-center mt-3">
                                <div class="col-md-12">
                                    <a href="javascript:void(0)"
                                       id="description-expand-btn"
                                       class="empty-btn detail-btn blue-color pt-2 pb-2 pl-5 pr-5">
                                        Xem Thêm
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <a href="javascript:void(0)"
                                       id="description-reduce-btn"
                                       class="empty-btn detail-btn blue-color pt-2 pb-2 pl-5 pr-5">
                                        Ẩn Bớt
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 cust-border-left" id="specification">
                            <div id="spec-detail" class="col-md-12">
                                <h5 class="text-center pt-3 pl-3">THÔNG SỐ KỸ THUẬT</h5>
                                {% autoescape off %}
                                    <ul>
                                        {% for sp in specifications %}
                                            {% if forloop.counter0|divisibleby:2 == 0 %}
                                                <li>
                                                    <div class="row pt-1 pb-1 background-grey">
                                                        <div class="sp-name blue-color col-md-6">
                                                            {{ sp.name }}
                                                        </div>
                                                         <div class="sp-value col-md-6">
                                                             {{ sp.value }}
                                                         </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <div class="row pt-1 pb-1">
                                                        <div class="sp-name blue-color col-md-6">
                                                            {{ sp.name }}
                                                        </div>
                                                         <div class="sp-value col-md-6">
                                                             {{ sp.value }}
                                                         </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endautoescape %}
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <a href="javascript:void(0)" class="empty-btn detail-btn pt-2 pb-2 pl-5 pr-5"
                                       data-toggle="modal" data-target="#specification-modal">
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>

            <section id="product-comments" class="ftco-section background-white">
                <div class="container cust-border-top">
                    <div class="row switcher">
                        <div class="col-md-12">
                            <h4 class="text-center pt-3 pl-3">Nhận xét từ người dùng</h4>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div id="comment-source" class="col-md-12 text-center pb-2">
                                <a href="javascript:void(0)" class="solid-btn detail-btn white-color switch-1 p-2">
                                    {{ product.channel_id.name | title }}
                                </a>
                                <a href="javascript:void(0)" class="solid-btn detail-btn white-color switch-2 ml-2 p-2">
                                    VnReview.vn
                                </a>
                            </div>
                        </div>
                        <div id="comment-content" class="col-md-12 pl-4 pr-4 pt-2 pb-2">
                            <div id="channel_comments" class="switch-res-1">
                            </div>
                            <div id="review_sources_comments" class="switch-res-2">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>

		let labels = [{% for label in labels %} new Date("{{ label }}").toLocaleDateString('en-GB'),{% endfor %}];
        let prices = [{% for price in prices %}{{ price }}, {% endfor %}];

        var config = {
			type: 'line',
			data: {
				labels: labels,
				datasets: [{
					label: 'Giá biến động theo thời gian',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: prices,
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'LỊCH SỬ GIÁ',
                    fontSize: 25,
                    fontColor: "#111",
				},
				tooltips: {
				    enabled: true,
					mode: 'single',
					intersect: false,
                    callbacks: {
                        label: function(tooltipItems, data) {
                            var multistringText = [];
                            multistringText.push("Giá: " + formatPriceValue(tooltipItems.yLabel));
                            return multistringText;
                        }
                    }
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
                        interval: 10,
						display: true,
						scaleLabel: {
							display: true,
                            fontSize: 16,
							labelString: 'Thời điểm'
						},
                        ticks:{
                            display: true,
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
					}],
					yAxes: [{
						display: true,
                        ticks: {
                            callback: function(label, index, labels) {
                                return label.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') + " ₫";
                            }
                        },
						scaleLabel: {
							display: true,
                            fontSize: 16,
							labelString: 'Giá tại thời điểm'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};

	</script>

    <script src="{% static 'js/custom/single-product.js' %}" ></script>

    <script async src="https://cse.google.com/cse.js?cx=000838244566526371716:x8ucrbazq82"></script>

{% endblock %}




