<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar" >
    <div class="container">
        <a class="navbar-brand" href="{% url 'product:home' %}">Lót Dép</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <div id="search-box" class="subscribe-form mb-4">
                <div  class="row form-group">
                    <div id="search-field" class="col-md-10 col-sm-10">
                        <input type="search" placeholder="Tìm theo dường dẫn hoặc tên sản phẩm ..." class="product-search form-control">
                    </div>
                     <div id="search-icon" class="col-md-2 col-sm-2">
                         <button type="button" class="search-icon form-control"><i class="fa fa-search"></i></button>
                     </div>
                </div>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'product:home' %}" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="{% url 'product:about' %}" class="nav-link">Về chúng tôi</a></li>
                <li class="nav-item"><a href="{% url 'product:contact' %}" class="nav-link">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->